body {

    font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.top-menu {
    max-width: 700px;
    margin:  100px auto;
    align-items: center;
    text-align: center;
}
.top-menu > a {
    width: 140px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
}
.top-menu > a:hover {
    text-decoration: underline;
}

.bottom-menu {
    margin: auto;
}

.bottom-menu > div {
    width: 25%;
    text-align: left;
    margin: 15px;
}

span {
    background-color: #ffd800;
    display: inline-block;
    padding: 3px 14px 5px;
    margin: 12px 0 4px;
    line-height: 20px;
    height: 26px;
    letter-spacing: .075em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
}

h3 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    opacity: .95;
    padding-top: 1px;
    padding-bottom: 2px;
    margin-top: 37px;
}

.heading {
    margin-top: 5px;
    margin-bottom: 5px;
}

.para {
    margin-top: 5px;
}

.button {
    max-width: 100%;
    position: relative;
    left: 0;
    text-overflow: clip;
    overflow: hidden;
    transition: all 200ms ease-in-out;
    vertical-align: top;
    line-height: 18.5px;
    color: #0067b8;
    text-decoration: none;
    font-weight: bold;
}

.button::after {
    font-size: 11px;
    margin-top: 3px;
    margin-left: 3px;
    display: inline-block;
    position: relative;
    right: 0;
    content: ">";
    vertical-align: top;
}

.button:hover {
    text-decoration: underline;
}

.image {
    width: 300.83px;
    height: 168.9px;
}